.card img{
height: 220px;
}
.card{
    height: 500px;
    text-align: start;
}
.fullbody{
    margin-bottom: 50px;
}
.card-title{
padding-top: 20px;
    padding-bottom: 20px;
}

.service{
    width: 200px;
}

.service-btn{
    text-align: center;

}